.select-cmb {
    width: 22rem;
    position: relative;
    margin: auto;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
    background-position-x: 20rem;
    padding-left: 10px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    border-bottom: #aaa solid 2px;
}

select::-ms-expand {
    display: none;
}

select option {
    color: #666;
}
select:focus::-ms-value {
    background-color: transparent;
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 480px) {
    .header-text {
        margin: 2rem auto;
        width: 60%;
        text-align: center;
        font-size: 1.2rem;
    }

    .header-title {
        margin: 2.5rem auto 0;
        width: 80%;
        font-size: 2rem;
    }
    .shoeUp {
        top: -5rem;
        left: 5rem;
        width: 70%;
        position: absolute;
        opacity: 50%;
    }

    .shoeDown {
        bottom: 10rem;
        right: 7rem;
        width: 70%;
        opacity: 50%;
    }

    .select-cmb {
        width: 15rem;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .select-cmb {
        width: 18rem;
    }
}

.right-col {
    position: relative;
}







